# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
.env.local
.env.*

# Remix compiler artifacts
**/artifacts/
**/artifacts/**

# Remix plugin state folders
deps/
states/

# Debug info
*.dbg.json
*.tsbuildinfo

# Editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Node.js dependencies
node_modules/
package-lock.json
yarn.lock

# Coverage
coverage/
coverage.json
lcov.info

# Hardhat files
artifacts/
typechain/
typechain-types/

# Logs
*.log
